.display {
  background-color: rgb(52, 187, 197);
  width: 360px;
  height: 65px;
  border-radius: 30px;
  color: rgb(39, 37, 37);
  position: relative;
  top: 15px;
  box-shadow: 2px 2px 10px rgba(44, 44, 44, 0.5);

}

.result {
  position: relative;
  top: -40px;
  right: 20px;
  font-family: "Orbitron", sans-serif;
  font-size: 45px;
  text-align: end;
}
